# CPython bytecode
__pycache__/
*.pyc

# Environment
.env
.envrc

# Python virtual environment
venv/

# Editors and OS
.vscode/
.idea/
.DS_Store

# Scalene profiling artifacts
profile.html
profile.json

