annotated-types==0.7.0
cfgv==3.4.0
cloudpickle==3.1.1
distlib==0.3.9
filelock==3.18.0
graphviz==0.20.3
identify==2.6.9
jinja2==3.1.6
markdown-it-py==3.0.0
markupsafe==3.0.2
mdurl==0.1.2
nodeenv==1.9.1
numpy==2.2.4
nvidia-ml-py==12.570.86
pillow==11.1.0
platformdirs==4.3.7
polars==1.27.1
pre-commit==4.2.0
psutil==7.0.0
pydantic==2.11.3
pydantic-core==2.33.1
pygments==2.19.1
pyright==1.1.399
pyyaml==6.0.2
rich==14.0.0
rustworkx==0.16.0
scalene==1.5.51
snakeviz==2.2.2
tornado==6.4.2
typing-extensions==4.13.2
typing-inspection==0.4.0
uv==0.6.14
virtualenv==20.30.0
wheel==0.45.1
